<div id="<%= dom_id user_profile %>">
  <p>
    <strong>First name:</strong>
    <%= user_profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user_profile.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_profile.email %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= user_profile.phone_no %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= user_profile.title %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user_profile.password %>
  </p>

  <p>
    <strong>Profile pic url:</strong>
    <%= user_profile.profile_pic_url %>
  </p>

</div>
